.full-screen {
    padding: 30px;
}

.game-wrapper {
    display: flex;
}

.left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-title {
    display: flex;
    align-items: center;
}

.circle-red, 
.circle-green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.circle-red {
    background-color: red;
}

.circle-green {
    background-color: green;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(218, 218, 218);
}

.game-block {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    margin-left: 80px;
}




