.full-screen {
    padding: 30px;
}

.rooms-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.join-btn,
.create-room {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;
    margin: 15px 0 100px;
}

.room-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 10px;
    border: 1px solid grey;
}

.small-title {
    font-size: 12px;
    font-style: italic;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.join-btn {
    margin: 0 0 20px 0;
}

.display-none {
    display: none;
}


